__pycache__/
*.py[cod]
*.egg-info/
*.egg
.eggs/
build/
dist/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/
.tox/
.mypy_cache/
.python-version
.venv/
venv/
docs/sphinx/_build/
docs/sphinx/api/
*.swp
.DS_Store
